{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}

<!-- {% if zipcode %}
{{zipcode}}
{% endif %} -->
 {% if api %}
{% if api == 'Error...' %}
There was an error, please try again...
{% else %}
<div class="p-5 mb-4  {{category_color}}">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">{{api.0.Category.Name}}</h1>
    <p class="col-md-8 fs-4">Current {{api.0.ReportingArea}} Air Quality: {{api.0.AQI}}</p>
    <!-- <button class="btn btn-primary btn-lg" type="button">了解更多</button> -->
    <hr class="'my-4">
    {{category_description}}
<!-- 
    {% if api.0.Category.Name == "Good" %}
    <p>(0-50) Air quality is considered satisfactory, and air pollution poses little or no risk.</p>
    {% elif api.0.Category.Name == "Moderate" %}
    <p>(51-100) Air quality is acceptable; however, if you are unusually sensitive to particle pollution, consider reducing your activity level or shorten the amount of time you are active outdoors </p>
    {% elif api.0.Category.Name == "Unhealthy for Sensitive Groups" %}
    <p>(101-150) Although general public is not likely to be affected at this AQI range, people with lung disease, older adults and Children are at a greater risk from exposure to ozone, whereas persons with heart and lung disease, older adults and Children are at greater risk from the presence of the particles in the air.</p>
    {% elif api.0.Category.Name == "Unhealthy" %}
    <p>(151-200) Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects.</p>

    {% elif api.0.Category.Name == "Very Unhealthy" %}e 
    <p>(201-300) Health alert: everyone may experience more serious health effects.</p>
    {% elif api.0.Category.Name == "Hazardous" %}
    <p>(301-500) Health warnings of emergency conditions. The entire population is more likely to be affected. </p>
    {% endif %}
  </div>
</div> -->


<!-- Air Quality: {{api.0.AQI}} <br/>
Area: {{api.0.ReportingArea}} <br/>
Category: {{api.2.Category.Name}}<br/><br/> -->
{% endif %}
{% endif %}
{% endblock %}

